* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(94,0,0);
    background: linear-gradient(27deg, rgba(94,0,0,1) 0%, rgba(21,0,87,1) 100%);
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 30px auto;
    width: fit-content;
    
  }

  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 255, 201);
    margin: 30px auto;
    width: fit-content;
    
  }

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 30px auto;
    width: fit-content;
}